### Задание: данные из нескольких источников
##### Объединение данных и сортировка по индексам
Получите данные по безработице в Москве:\
https://video.ittensive.com/python-advanced/data-9753-2019-07-25.utf.csv \
Объедините эти данные индексами (Месяц/Год) с данными из предыдущего задания (вызовы пожарных) для Центральный административный округ: \
https://video.ittensive.com/python-advanced/data-5283-2019-10-04.utf.csv \
Найдите значение поля UnemployedMen в том месяце, когда было меньше всего вызовов в Центральном административном округе.

#### Решение
1. Загрузить оба набора данных
2. Привести имена и значения полей Period и Month к одинаковому виду 
3. Установить индексацию по ```['Year','Month']``` для обоих наборов данных
4. Отобрать данные только по Центральный административный округ
5. Объединить наьоры данных по индексам
6. Отсортировать получившийся набор по возрастанию поля Calls
7. Ответ будет в первой записи

In [21]:
import numpy as np
import pandas as pd
df= pd.read_csv('https://video.ittensive.com/python-advanced/data-5283-2019-10-04.utf.csv', sep=';')
df['Month'] = df['Month'].str.lower()
# df.head()
unemp = pd.read_csv('https://video.ittensive.com/python-advanced/data-9753-2019-07-25.utf.csv', sep=';')
unemp = unemp.iloc[:,:-1]
unemp.rename({'Period':'Month'},axis=1,inplace=True)
unemp['Month'] = unemp['Month'].str.lower()
unemp.head()

,global_id,ID,Year,UnemployedMen,UnemployedWomen,UnemployedYoung,UnemployedDisabled,UnemployedTotal,Month
0,39809862,1,2001,8896,25762,6696,824,34658,декабрь
1,64592413,3,2003,8679,24967,6226,1155,33646,декабрь
2,64592414,4,2004,9822,25239,7318,1411,35061,декабрь
3,64592415,5,2005,10844,23597,6890,1531,34441,декабрь
4,64592416,6,2006,11041,22928,6604,1671,33969,декабрь

In [22]:
df.set_index(['Year','Month'], inplace=True)
# df.info()

unemp.set_index(['Year','Month'], inplace=True)
# unemp.head()

df = df.query("AdmArea == 'Центральный административный округ'")

data = pd.merge(unemp, df, left_index=True, right_index=True)

print(f"Искомое значение поля UnemployedMen = {data.sort_values('Calls',ascending=True).iloc[0].UnemployedMen}")

Искомое значение поля UnemployedMen = 13465