### Задание: импорт данных
Возьмите данные по вызовам пожарных служб в Москве за 2015-2019 годы: \
https://video.ittensive.com/python-advanced/data-5283-2019-10-04.utf.csv 

Получите из них фрейм данных (таблицу значений). По этому фрейму вычислите среднее значение вызовов пожарных машин в месяц в одном округе Москвы, округлив до целых

*Примечание: найдите среднее значение вызовов, без учета года*

In [1]:
import numpy as np
import pandas as pd

df= pd.read_csv('https://video.ittensive.com/python-advanced/data-5283-2019-10-04.utf.csv', sep=';')
df.head()

,ID,AdmArea,Year,global_id,Month,Calls,Unnamed: 6
0,1,Центральный административный округ,2015,37153160,Январь,408,NaN
1,2,Северный административный округ,2015,37153161,Январь,408,NaN
2,3,Северо-Восточный административный округ,2015,37153162,Январь,445,NaN
3,4,Восточный административный округ,2015,37153163,Январь,619,NaN
4,5,Юго-Восточный административный округ,2015,37153164,Январь,541,NaN

In [13]:
# Ответ на вопрос
print(f"Cреднее значение вызовов, без учета года = {round(df.Calls.mean(),0)}")

Cреднее значение вызовов, без учета года = 493.0